@import "./colors.scss";

html, body {
    margin: 0;
    padding: 0;
    font-family: "helvetica", sans-serif;
    font-weight: 300;
}

body {



    ul, li {
        margin:0;
        padding:0;
        list-style: none;
    }

    a{
        text-decoration: none;
    }

    .users{
      display: flex;
      justify-content: space-between;
    }

}
